<a href="https://colab.research.google.com/github/shivam2898-data/Python_notes/blob/main/args_kwargs_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# args(non key word arguments)
# args allows you to pass multiple positional arguments to a function . it collects them into a tuple.


def add_numbers(*args):
  total= sum(args)
  print(f"sum:{total}")
add_numbers(5,10,15)

sum:30

In [6]:
# kwargs
# kwargs allows you to pass multiple keyword argument name value pairs) it collects them into a dictionary.


def print_details(**kwargs):
  for key,value in kwargs. items ():
   print(f"{key}: {value}")
print_details(name="sam",age=25,city="mumbai")

name: sam
age: 25
city: mumbai

In [ ]:
# args and kwargs
# you can both in the smame function but args amudst come before *kwargs.

def display_info(*args,**kwargs):
  print("positional arguments :",args)
  print("keyword arguments :",kwargs)

display_info(1,2,3,name="sam",age=25)

positional arguments : (1, 2, 3)
keyword arguments : {'name': 'sam', 'age': 25}

In [ ]:
# required arguments (mandatory inputs)
# these are arguments that must be passed to a function otherwise, Python throws an erroe, There is no default value for these arguments.

def greet (name):
  print(f"hello,{name}")
greet("sam")

hello,sam

In [ ]:
#default arguments (optional inputs)
# these arguments have a default value assigned . if no value is provided, python usews the default.value

def greet(name="guest"):
  print(f"hello {name}")
greet()
greet("sam")

hello guest
hello sam

In [ ]:
#return keyword Output of a function
# the return statement send a value back from a function. if return is not used the function returns none.
def add(a,b):
  return a+b
result=add(5,3)
print(result)

8

In [ ]:
#Q1 find the maximum number using *args
def find_max(*args):
  return max(args)

print(find_max(10,5,25,8,100))
print(find_max(-1,-10,-5,0))

100
0

In [ ]:
#Q2 calculate the product of number using *args
def product(*args):
  result=1
  for num in args:
    result *=num
print(product(2,3,4))
print(product(5,5))

None
None

In [ ]:
def full_name(**kwargs):
  return f"{kwargs.get('first_name','unknown')} {kwargs.get('last_name','Mehta')}"
print(full_name(first_name="sam",last_name="sharma"))
print(full_name(first_name="rahul"))

sam sharma
rahul Mehta

In [ ]:
# count vowels in a given string using return
def count_vowels(string):
  vowels="aeiouAEIOU"
  return sum(1 for char in string if char in vowels)

print(count_vowels("hello world"))
print(count_vowels("python"))

3
1

In [ ]:
def shopping_cart(*items,**prices):
  total=sum(prices[item]for item in items if item in prices)
  return total
print(shopping_cart("apple","banana","mango",apple=50,banana=20,mango=30))
print(shopping_cart("mango","grapes",mango=30,grapes=40))


#method2
# def cart(*items,**price):
#   sum=0
#   for i in items:
#     if i in price:
#       sum+=price[i]
#   return sum
# cart('apple','mango',apple=50,mango=40)

100
70

In [ ]:
#functions with required and default arguments.
def greet(name,age=18):
  return f"hello {name},you are {age} years old."
print(greet("sam"))
print(greet("rahul",25))

hello sam,you are 18 years old.
hello rahul,you are 25 years old.

In [ ]:
#merge two lists using *args
def merge_lists(*args):
  return [item for lst in args for item in lst]
print(merge_lists([1,2,3],[4,5,6]))
print(merge_lists(['a','b','c'],['c','d','f']))

[1, 2, 3, 4, 5, 6]
['a', 'b', 'c', 'c', 'd', 'f']

In [ ]:
def separate_even_odd(numbers):
  even=[num for num in numbers if num%2==0]
  odd=[num for num in numbers if num%2!=0]
  return even,odd
evens,odds=separate_even_odd([1,2,3,4,5,6])
print("evens",evens)
print("odds",odds)

evens [2, 4, 6]
odds [1, 3, 5]

In [ ]:
a=[1,2,3,4,5]
even=[]
odd=[]
for i in range (len(a)):
  if(a[i]%2==0):
    even.append(a[i])
  else:
    odd.append(a[i])
print(even)
print(odd)

[2, 4]
[1, 3, 5]

In [ ]:
#Calculate Discounted Price Using **kwargs
def discount_price(**kwargs):
    price = kwargs.get("price", 0)
    discount = kwargs.get("discount", 0)
    return price - (price * discount / 100)

print(discount_price(price=1000, discount=10))
print(discount_price(price=500, discount=20))

900.0
400.0

In [ ]:
def things(**kwargs):
  price=kwargs.get('price',0)
  discount=kwargs.get('discount',0)
  return price-(price*discount/100)
print(things(price=1000,discount=10))
print(things(price=500,discount=20))

900.0
400.0