<a href="https://colab.research.google.com/github/shivam2898-data/Python_notes/blob/main/functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#function in python
# reuseable block of code---->store specific condition---->function

In [ ]:
#types of function in available in python
#1 pre definied function
# print(),count(),min(),max()

#2 manually created function
#1 def
#2 name_of_name()
#3 logic_of_function_creation
#4 call_function(name_of_function())

In [ ]:
#syntax
# def name_of_function():
#   logics
# name_of_function()

In [ ]:
#Q1 write a program using function that add 2 user definied number?

def myadd():
  a=int(input("enter first number :"))
  b=int(input("enter second number :"))
  c=a+b
  print("addition",c)
myadd()

enter first number :10
enter second number :15
addition 25

In [ ]:
#parametes and arugments
#parameters---> these are the value which pass when we create a function
#arguments---> these are the value which pass when we call a function

In [ ]:
def myadd(a,b):#here (a,b)parameters
  c=a+b
  print("addition",c)
myadd(10,15)  #here (10.15) argument

addition 25

In [ ]:
#Q2 write a program who check given number is odd or even?

def oddeve():
  a=int(input("enter number :"))
  if(a%2==0):
    print("even")
  else:
    print("odd")
oddeve()


#method2

def oddeve(a):
  if(a%2==0):
    print("even")
  else:
    print("odd")
oddeve(12)

enter first number :12
even

In [ ]:
#Q3armstrong number

def arm_num(a):

  sum=0
  b=a
  while(a>0) :
    sum=sum+(a%10)**3
    a=a//10
  if(sum==b):
     print("armstrong")
  else:
    print("not armstrong")

arm_num(153)

armstrong

In [ ]:
#Q4 palindrome
def palindrome(a):
  rev=0
  b=a
  while(a>0):
    digit=a%10
    rev=rev*10+digit
    a=a//10
  if(rev==b):
    print("palindrome")
  else:
    print("not palindrome")

palindrome(121)

palindrome

In [ ]:
#Q5 sum of square
def sum_sqaure(a):
    sum=0
    while(a>0):
      digit=a%10
      sum=sum+(digit)**2
      a=a//10
      print(sum)
sum_sqaure(123)

9
13
14

In [ ]:
#Q6 reverse
def rev(a):##parameters and arguments
  rev=0
  while(a>0):
    digit=a%10
    rev=rev*10+digit
    a=a//10
  print(rev)
rev(int(input("enter a number : ")))

enter a number : 123
321

In [ ]:
#check prime number
def check_prime():
  n=int(input("enter a number : "))
  count=0
  for i in range(2,n):
    if(n%i==0):
      count+=1
  if(count>0):
    print(" not prime")
  else:
    print("prime")
check_prime()

enter a number : 15
 not prime

In [ ]:
#pattern1
def tri_pattern(n):
 for i in range(1,n+1):
   for j in range(i,i+1):
     print("*"*i,end=" ")
     print(" ")
tri_pattern(4)

*
**
***
****

In [ ]:
def pattern(n):
#n=4
 for i in range(4,0,-1):
  for j in range(i,i+1):
    print("*"*j,end="")
    print(" ")
pattern(4)

****
***
**
*

In [ ]:
def pattern():
  n=int(input("enter a number : "))
  for i in range(n,0,-1):
    print(" "*(n-i),"*"*i)

pattern()

enter a number : 4
 ****
  ***
   **
    *

In [ ]:
#check LCM
def check_lcm():
  n1=int(input("enter first number : "))
  n2=int(input("enter second number : "))
  i=2
  lcm=1
  while(n1>1 or n2>1):
      if(n1%i==0 or n2%i==0):
          if(n1%i==0):
            n1=n1/i
          if(n2%i==0):
            n2=n2/i
          lcm=lcm*i
      else:
          i+=1
  print(lcm)
check_lcm()

enter first number : 4
enter second number : 5
20

In [ ]:
#check lcm
def check_lcm():
  n1=int(input("enter first number : "))
  n2=int(input("enter second number : "))
  i=2
  lcm=1
  while(n1>1 or n2>1):
      if(n1%i==0 or n2%i==0):
          if(n1%i==0):
            n1=n1/i
          if(n2%i==0):
            n2=n2/i
          lcm=lcm*i
      else:
          i+=1
  print(lcm)
check_lcm()

enter first number : 12
enter second number : 15
60

In [ ]:
#check hcf
def check_hcf():
  n1=int(input("enter first number : "))
  n2=int(input("enter second number : "))
  i=2
  hcf=1
  while(n1>=i and n2>=i):
      if(n1%i==0 and n2%i==0):
          if(n1%i==0):
            n1=n1/i
          if(n2%i==0):
            n2=n2/i
          hcf=hcf*i
      else:
          i+=1
  print(hcf)
check_hcf()

enter first number : 12
enter second number : 15
3

In [ ]:
# non-prime number range
def non_prime_range():
  fn=int(input("enter first number : "))
  ln=int(input("enter last number : "))
  for n in range(fn,ln+1):
    count=0
    for i in range(2,n):
       if(n%i==0):
        count+=1
    if(count>0):
     print(n)
non_prime_range()

enter first number : 2
enter last number : 20
4
6
8
9
10
12
14
15
16
18
20

In [ ]:
#write a program using function who can add sum of digits?
def sum_of_dig():
  i=123
  sum=0
  while(i>0):
    d=i%10
    i=i//10
    sum=sum+d
  print(sum)
sum_of_dig()

6

In [ ]:
#parameters and arguments
def sum_of_dig(a):
  sum=0
  while(a>0):#while loop
    d=a%10
    a=a//10
    sum=sum+d
  print(sum)
sum_of_dig(123)

6

In [ ]:
#write a program sum of digit using for loop?
i=123
b=str(i)#convert into string
sum=0
for b in range(len(b)):
  sum=sum+(i%10)
  i=i//10
print(sum)

6

In [ ]:
#sum of even number and sum of odd number
def checker():
  i=1234
  even=0
  odd=0
  while(i>0):
    d=i%10
    if(d%2==0):
      even=even+d
    else:
      odd=odd+d
    i=i//10
  print("sum of even",even,"sum of odd",odd)
checker()

sum of even 6 sum of odd 4

In [ ]:
#using for loop sum of even number and sum of odd number
a=1234
b=str(a)
even=0
odd=0
for i in range(len(b)):
  c=int(b[i])
  if(c%2==0):
    even=even+c
  else:
    odd=odd+c
print(even,odd)

6 4

In [ ]:
#lambda function: a lambda function can take any number of arguement but can only have a one expression.
syntax:lambda function :lambda arguments


Q1
x=lambda a: a+5
print("total value",x(2))

In [ ]:
x=lambda a,b: a*b
print("product",x(5,4))

In [ ]:
x=lambda a,b,c: a+b-c
print("solution",x(9,4,2))

In [ ]:
#filter function: the filter function returns a iterator where the item are filtered through function to test, if the item is accpeted return true or false

#Q1
ages=[5,12,17,18,34,56,89]
def myfun(x):
  if(x>=18):
    return True
  else:
    return False

young=list(filter(myfun,ages))
print(young)#output will print in list form

[18, 34, 56, 89]

In [ ]:
#map function: the map() executes a specified function for each item in a iterable. the item is sent to the function as a parameters
a=["3","45","87"]
b=list(map(int,a))
print(b)

[3, 45, 87]

In [ ]:
a=[1,2,3,4,5]
def squa(a):
  return a*a
square=list(map(squa,a))
print(square)

[1, 4, 9, 16, 25]

In [ ]:
a=[1,2,3,4,5]
square=list(map(lambda x: x*x,a))
print(square)

[1, 4, 9, 16, 25]

In [ ]:
a=[1,2,3,4,5]
def cube(a):
  return a*a*a
cube=list(map(cube,a))
print(cube)

[1, 8, 27, 64, 125]

In [ ]:
a=["banana","cherry","apple"]
b=list(map(lambda x:x.upper(),a))
print(b)

['BANANA', 'CHERRY', 'APPLE']

In [ ]:
a=["banana","cherry","apple"]
b=str(a)
print(b.upper())

['BANANA', 'CHERRY', 'APPLE']

In [ ]:
a=[10,20,30]
b=list(map(str,a))
print(b)

['10', '20', '30']

In [ ]:
a=['hello','world','python']
b=list(map(lambda x:len(x),a))
print(b)

[5, 5, 6]

In [ ]:
a=[1,3,5,7]
def double(a):
  return a*2
double=list(map(double,a))
print(double)

[2, 6, 10, 14]

In [ ]:
a=[1,2,3,4,5,6]
def eve(a):
  if(a%2==0):
    return True
  else:
    False
even=list(filter(eve,a))
print(even)

[2, 4, 6]