<a href="https://colab.research.google.com/github/shivam2898-data/Python_notes/blob/main/introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# What is Python ?
# Python is a general-purpose , high-level , interpreted programming language which was invented in 1991 by GuidoVan Rossoum.
# Python version 3

#method - 1  If you installed python in your system and then install vs code and then install extension of pytho  in vs code .
# python --version

# method - 2 Install Anaconda ---> Launch JupyterNotebook

# method-3 Go to browser ---> Google colab --> click on New Notebook .

# cntrl+Enter ---> for execute current cell
# shift+enter ---> for execute current cell and create a new cell

In [ ]:
# Fundamentals of Python
# (1). Data type --->
# (a). Integer ----> All positive or negative values .
# Ex. 23 , 56 , -78 , -94

# (b). Float ----> All decial values .
# Ex. 12.34 , 56.89

# (c). String ----> 'single_quotes' , "double_quotes" , '''triple_quotes'''
# Ex. 'sam' , "45" , '''45.89'''

# (d). Boolean ----> TRUE , FALSE

# (2). variable ----> This is a container in which we can store or assign our values .
# Ex. a = 45 , b = 'rahul' , c = 5>4    ### here a,b,c=variable


# (3). print() , input()

# print() ----> This is a pre-defined function of python and it will execute our query on terminal .
# Ex.
print(45)
print('sam')
a = 'rahul'
print(a)

# Input() ----> This is pre-defined function of python that will ask query from users and its output is in string format .

45
sam
rahul

In [ ]:
# type() ---> Using type() , we can check datatype of element .
# Ex.
type(45)
type(45.78)
type('sam')
type(5>4)

bool

In [ ]:
# Input()

a = 1
b = 2
c = a + b    ## In integers , two or more values are operate .
print(c)

a = '1'
b = '2'
c = a + b   ### in string two or more values are concat ..
print(c)

3
12

In [ ]:
# Q.1 Write a user defined program who can add 2 numbers ?
a = input("Enter first number:")
b = input("Enter second number:")
c = a + b
print(c)

Enter first number:1
Enter second number:2
12

In [ ]:
# type-casting ====> using type-casting , we can change data type of our values .

# Q.1 Write a user defined program who can add 2 numbers ?
a = int(input("Enter first number:"))
b = int(input("Enter second number:"))
c = a + b
print("sum is",c)

Enter first number:1
Enter second number:2
sum is 3

In [ ]:
num1=45
num2=2
ans=num1*num2
print(ans)

90

In [ ]:
num1=input("enter number 1 :")
num2=input("enter number 2 :")
ans=int(num1)*int(num2)

print(ans)

enter number 1 :5
enter number 2 :8
40

In [ ]:
# type-casting ====> using type-casting , we can change data type of our values .

# Q.1 Write a user defined program who can add 2 numbers ?
a = input("Enter first number:")
b = input("Enter second number:")
c = int(a) + int(b)
print(c)

Enter first number:1
Enter second number:2
3

In [ ]:
a = '45'
print(a)
print(type(a))
b = int(a)
print(b)
print(type(b))
c = float(a)
print(c)
print(type(c))

45
<class 'str'>
45
<class 'int'>
45.0
<class 'float'>

In [ ]:
a=1
b=5
c=a+b
print(c)

6