<a href="https://colab.research.google.com/github/shivam2898-data/Python_notes/blob/main/list_comprehesnion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# list comprehension
# list comprehensions in python provide a concise way to create lists.
# they are more readable and efficient than traditional for loops.
# syntax:
# [expression for item in iterable if condition]

## create a list of squares

In [ ]:
squares=[x**2 for x in range(1,6)]
print(squares)

[1, 4, 9, 16, 25]

## filter even numbers

In [ ]:
evens =[x for x in range(10)if x%2==0]
print(evens)

[0, 2, 4, 6, 8]

## convert strings to uppercase

In [ ]:
names=['sam','rohit','ankit']
upper_names=[name.upper() for name in names]
print(upper_names)

['SAM', 'ROHIT', 'ANKIT']

## flatten a nested list

In [ ]:
matrix=[[1,2],[3,4],[5,6]]
flattened=[num for sublist in matrix for num in sublist]
print(flattened)

[1, 2, 3, 4, 5, 6]

## generate a list of tuples

In [ ]:
pairs=[(x,y)for x in range(3)for y in range(3)]
print(pairs)

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]