<a href="https://colab.research.google.com/github/shivam2898-data/Python_notes/blob/main/list_advance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 You have a list of numbers. Separate even and odd numbers into two different lists.
numbers = [10, 23, 45, 66, 78, 89, 92]
even=list(filter(lambda x: x%2==0,numbers))
odd=list(filter(lambda x:x%2!=0,numbers))
print(even)
print(odd)

[10, 66, 78, 92]
[23, 45, 89]

In [ ]:
#2 Given a list of numbers, find the largest and smallest number in the list.
n= [5, 12, 8, 3, 20, 15]
print("maxium no.is: ",max(n))
print("miniume no.is: ",min(n))

maxium no.is:  20
miniume no.is:  3

In [ ]:
#3 Find the sum of all elements in a given list
numbers = [4, 7, 1, 9, 3]
sum=0
for i in numbers:
  sum=sum+i
print(sum)

24

In [ ]:
#4 Given a list, reverse it manually.
numbers = [1, 2, 3, 4, 5]
b=numbers[-1::-1]
print(b)

[5, 4, 3, 2, 1]

In [ ]:
#Count how many times each element appears in the list.
n= [2, 3, 4, 2, 3, 5, 2]
print("2 is appears: ",n.count(2))
print("3 is appears: ",n.count(3))
print("4 is appears: ",n.count(4))
print("5 is appears: ",n.count(5))

2 is appears:  3
3 is appears:  2
4 is appears:  1
5 is appears:  1

In [ ]:
#Given a list of numbers, count how many are positive, negative, and zero.
numbers = [3, -1, 0, 4, -2, 7, 0, -6]
count_positive=0
count_negative=0
count_zero=0
for i in numbers:
  if(i>0):
    count_positive+=1
  elif(i<0):
    count_negative+=1
  elif(i==0):
    count_zero+=1
print("positive :",count_positive)
print("negative : ",count_negative)
print("zero: ",count_zero)

In [ ]:
#Given a list with duplicate elements, remove duplicates without using set().
numbers = [2, 4, 6, 8, 4, 2, 10, 6]
b=set(numbers)
print(b)

{2, 4, 6, 8, 10}

In [ ]:
#Given a list with duplicate elements, remove duplicates without using set().
numbers = [2, 4, 6, 8, 4, 2, 10, 6]
b=[]
for i in numbers:
  if i not in b:
    b.append(i)
print(b)

[2, 4, 6, 8, 10]

In [ ]:
#Check whether a given list is sorted in ascending order.
numbers = [2, 5, 7, 10, 15]
b=sorted(numbers)
if(b==numbers):
  print("list is sorted")
else:
  print("not sorted")

list is sorted

In [ ]:
numbers = [1, 3, 5, 3, 7, 9, 1, 5]
b=set(numbers)
for i in b:
  if(i==b):
    print(i,end=" ")

In [ ]:
n= [4, 8, 12, 5, 18, 9]
b=max(n)
for i in n:
  if(i>b):
   print(i)

In [ ]:
#Find the second largest number in a given list.
numbers = [4, 8, 12, 5, 18, 9]
numbers.sort()
print(numbers[-2])

12

In [ ]:
a=[1, 2, 3, 4, 5]
def rot_lst(a,steps):
  steps=steps%len(a)
  return a[-steps:]+ a[:-steps]
print(rot_lst(a,2))

[4, 5, 1, 2, 3]