<a href="https://colab.research.google.com/github/shivam2898-data/Python_notes/blob/main/Loop_Pattern_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    print("*",end=" ")
  print(" ")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  print(" ")

*
* *
* * *
* * * *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print("*",end=" ")
  print(" ")

* * * * *
* * * *
* * *
* *
*

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print(" ")

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print("*",end=" ")
  print(" ")

  * * * * *
    * * * *
      * * *
        * *
          *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  for j in range(i):
    print("*",end=" ")
  print(" ")

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print("*",end=" ")

  for j in range(i,n-1):
    print("*",end=" ")
  print(" ")

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
n=5
for i in range(n-1):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  for j in range(i):
    print("*",end=" ")
  print(" ")

for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print("*",end=" ")

  for j in range(i,n-1):
    print("*",end=" ")
  print(" ")

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [ ]:
for i in range(1,5):
  for  j in range(1,8):
    if j<=5-i or j>=3+i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

* * * * * * *
* * *   * * *
* *       * *
*           *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(i,end=" ")
  print()

0
1 1
2 2 2
3 3 3 3
4 4 4 4 4

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(i+1,end=" ")
  print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print(i+1,end=" ")
  print()

  1 1 1 1 1
    2 2 2 2
      3 3 3
        4 4
          5

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(i+1,end=" ")

  for j in range(i):
    print(i+1,end=" ")

  print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print(i+1,end=" ")

  for j in range(i,n-1):
    print(i+1,end=" ")
  print()

  1 1 1 1 1 1 1 1 1
    2 2 2 2 2 2 2
      3 3 3 3 3
        4 4 4
          5

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print("*",end=" ")

  for j in range(i):
    print("*",end=" ")
  print( )

  * * * * *
    * * * * *
      * * * * *
        * * * * *
          * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(n-i,end=" ")
  print(" ")

5
4 4
3 3 3
2 2 2 2
1 1 1 1 1

In [ ]:
n=5

for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print(n-i,end=" ")

  print()

  5 5 5 5 5
    4 4 4 4
      3 3 3
        2 2
          1

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(n-i,end=" ")

  for j in range(i):
    print(n-i,end=" ")
  print()

          5
        4 4 4
      3 3 3 3 3
    2 2 2 2 2 2 2
  1 1 1 1 1 1 1 1 1

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print(n-i,end=" ")

  for j in range(i,n-1):
    print(n-i,end=" ")
  print()

  5 5 5 5 5 5 5 5 5
    4 4 4 4 4 4 4
      3 3 3 3 3
        2 2 2
          1

In [ ]:
n = 5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(" * ",end=" ")
  print()

           *
         *   *
       *   *   *
     *   *   *   *
   *   *   *   *   *

In [ ]:
n = 5

for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(" * ",end=" ")
  print()

           *
         *   *
       *   *   *
     *   *   *   *
   *   *   *   *   *

In [ ]:
n = 5
num = 1
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(num,end="  ")
    num+=1
  print()

          1
        2  3
      4  5  6
    7  8  9  10
  11  12  13  14  15

In [ ]:
n=5

for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(i+1,end=" ")

  for j in range(i):
    print(i+1,end=" ")

  print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(i+i,end=" ")
  print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [ ]:
n=5
num=0
for i in range(n):
  for j in range(i+1):
    print(num,end=" ")
  num+=2
  print()

0
2 2
4 4 4
6 6 6 6
8 8 8 8 8

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    if i%2==0:
      print("1",end=" ")
    else:
      print("2",end=" ")
  print()

1
2 2
1 1 1
2 2 2 2
1 1 1 1 1

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    if i%2==0:
      print("A",end=" ")
    else:
      print("B",end=" ")
  print()

A
B B
A A A
B B B B
A A A A A

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    if i%2==0:
      print("#",end=" ")
    else:
      print("$",end=" ")

  for j in range(i):
    if i%2==0:
      print("#",end=" ")
    else:
      print("$",end=" ")
  print()

          #
        $ $ $
      # # # # #
    $ $ $ $ $ $ $
  # # # # # # # # #

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    if i%2==0:
      print("1",end=" ")
    else:
      print("0",end=" ")

  for j in range(i,n-1):
    if i%2==0:
      print("1",end=" ")
    else:
      print("0",end=" ")
  print()

  1 1 1 1 1 1 1 1 1
    0 0 0 0 0 0 0
      1 1 1 1 1
        0 0 0
          1

In [ ]:
n=5
for i in range(n-1):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(i+1,end=" ")
  for j in range(i):
    print(i+1,end=" ")
  print()

for i in range(n):
  for j in range (i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print(n+i,end=" ")
  for j in range(i,n-1):
    print(n+i,end=" ")
  print()

          1
        2 2 2
      3 3 3 3 3
    4 4 4 4 4 4 4
  5 5 5 5 5 5 5 5 5
    6 6 6 6 6 6 6
      7 7 7 7 7
        8 8 8
          9

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(j+1,end=" ")
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=5
for i in range(n):
  num=1
  for j in range(i+1):
    print(num,end=" ")
    num+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [ ]:
n=5
for i in range(5):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print(j+1,end=" ")
  print()

  1 2 3 4 5
    2 3 4 5
      3 4 5
        4 5
          5

In [ ]:
n=5
for i in range(5):
  num=1
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print(num,end=" ")
    num+=1
  print()

  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [ ]:
n=5
for i in range(5):
  num=1
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(num,end=" ")
    num+=1
  for j in range(i):
    print(num,end=" ")
    num+=1
  print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9

In [ ]:
n=5
for i in range(n-1):
  num=1
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(num,end=" ")
    num+=1
  for j in range(i):
    print(num,end=" ")
    num+=1
  print()

for i in range(n):
  num2=1
  for j in range (i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print(num2,end=" ")
    num2+=1
  for j in range(i,n-1):
    print(num2,end=" ")
    num2+=1
  print()

          1
        1 2 3
      1 2 3 4 5
    1 2 3 4 5 6 7
  1 2 3 4 5 6 7 8 9
    1 2 3 4 5 6 7
      1 2 3 4 5
        1 2 3
          1

In [ ]:
n=5
for i in range(n-1):
  p=1
  for j in range(i+1):
    print(p,end=" ")
    p+=1

  print()
for i in range(n):
  q=1
  for j in range(i,n):
    print(q,end=" ")
    q+=1
  print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
n=5
for i in range(n-1):
  p=1
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print(p,end=" ")
    p+=1
  print()

for i in range(n):
  q=1
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    print(q,end=" ")
    q+=1
  print()

          1
        1 2
      1 2 3
    1 2 3 4
  1 2 3 4 5
    1 2 3 4
      1 2 3
        1 2
          1

In [ ]:
n = 5
for i in range(n-1):
    p=1
    for j in range(i+1):
        print(p, end=" ")
        p+=1
    for k in range(n-i-1):
        print(" ", end=" ")
    q=1
    for j in range(n-i-1):
        print(" ", end=" ")
    for j in range(i+1):
        print(q, end=" ")
        q+=1
    print()

# --------------------------------------------------------------------------
for i in range(n):
    r=1
    for j in range(n-i):
        print(r, end=" ")
        r+=1
    for j in range(i):
        print(" ", end=" ")
    s=1
    for j in range(i):
      print(" ",end=" ")
    for j in range(i,n):
      print(s,end=" ")
      s+=1
    print()

1                 1
1 2             1 2
1 2 3         1 2 3
1 2 3 4     1 2 3 4
1 2 3 4 5 1 2 3 4 5
1 2 3 4     1 2 3 4
1 2 3         1 2 3
1 2             1 2
1                 1

In [ ]:
n = 5
for i in range(n):

    for j in range(i+1):
        print("*", end=" ")
    for j in range(n-i-1):
        print(" ", end=" ")

    for j in range(i,n-1):
        print(" ", end=" ")
    for j in range(i+1):
        print("*", end=" ")

    print()

*                 *
* *             * *
* * *         * * *
* * * *     * * * *
* * * * * * * * * *

In [ ]:
n=5
for i in range(n):
    for j in range(n-i):
        print("*", end=" ")
    for j in range(i):
        print(" ", end=" ")

    for j in range(i):
      print(" ",end=" ")
    for j in range(i,n):
      print("*",end=" ")

    print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print("*",end=" ")
  for j in range(n-i-1):
    print("$",end=" ")

  for j in range(i,n-1):
    print("#",end=" ")
  for j in range(i+1):
    print("*",end=" ")



  print()

* $ $ $ $ # # # # *
* * $ $ $ # # # * *
* * * $ $ # # * * *
* * * * $ # * * * *
* * * * * * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print("*",end=" ")
  for j in range(i):
    print(" ",end=" ")



  for j in range(i):
      print( " ",end=" ")
  for j in range(i,n):
      print("*",end=" ")
  print()

* * * * * * * * * *
* * * *     * * * *
* * *         * * *
* *             * *
*                 *

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    if j==0 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*       *
*       *
*       *
*       *
*       *

In [ ]:
 n=5
 for i in range(n):
  for j in range(n):
    if i==n//2 or j==n//2:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

    *
    *
* * * * *
    *
    *

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    if i==j or i+j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*       *
  *   *
    *
  *   *
*       *

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    if i==0 or j==0 or i==n-1 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*       *
*       *
*       *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    if j==0 or i==n-1 or i==j:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
*   *
*     *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    if j==0 or i==n-1 or i==j:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

*
* *
*   *
*     *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    if i==0 or j==i or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*     *
*   *
* *
*

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    if i==0 or j==0 or i+j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

* * * * *
*     *
*   *
* *
*

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i):
    if i==n-1 or j==0:
      print("*",end=" ")
    else:
      print(" ",end=" ")

  for j in range(i+1):
    if i==n-1 or j==i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

          *
        *   *
      *       *
    *           *
  * * * * * * * * *

In [ ]:
n=5
for i in range(n-1):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i):
    if i==n-1 or j==0:
      print("*",end=" ")
    else:
      print(" ",end=" ")

  for j in range(i+1):
    if i==n-1 or j==i:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print(" ")

n=5
for i in range(n):
  for j in range(i+1):
    print(" ",end=" ")
  for j in range(i,n):
    if j==i:
      print("*",end=" ")
    else:
      print(" ",end=" ")

  for j in range(i,n-1):
    if j==n-2:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

          *
        *   *
      *       *
    *           *
  *               *
    *           *
      *       *
        *   *
          *

In [ ]:
n=int(input("enter the number :"))
m=n
sum=0
while m!=0:
  digit=m%10
  sum =sum+digit**3
  m=m//10
if sum == n:
  print("Armstrong number")
else :
  print("Its not Armstrong number ")

enter the number :153
Armstrong number

In [ ]:
str = "suraj"
vowels = "AEIOUaeiou"

for char in str:
    if char in vowels:
        print(char)

u
a

In [ ]:
str_input = "suraj"
vowels = "AEIOUaeiou"
vowel_list = []

for char in str_input:
    if char in vowels:
        vowel_list.append(char)

print(vowel_list)  # This will print a list of found vowels

['u', 'a']

In [ ]:
fruits=["apple","banana","cherry"]
colors=["red","yellow","green"]

for fruit,color in zip(fruits,colors):
  print(fruit,"is",color)

apple is red
banana is yellow
cherry is green

In [ ]:
# Define a list
my_list = [10, 20, 30, 40, 50]

# Update the second element (index 1)
my_list[1] = 25

print(my_list)

[10, 25, 30, 40, 50]

In [ ]:
list=my_list.copy()
print(list)

[10, 25, 30, 40, 50]

In [ ]:
list.pop()
print(list)

[10, 25, 30, 40]

In [ ]:
list.pop(2)
print(list)

[10, 25, 40]

In [ ]:
list=[10,30,25,4,5,0,60]
list.sort()
print(list)

[0, 4, 5, 10, 25, 30, 60]

In [ ]:
list.sort(reverse=True)
print(list)

[60, 30, 25, 10, 5, 4, 0]

In [ ]:
list.append(50)
print(list)

[60, 30, 25, 10, 5, 4, 0, 50]

In [ ]:
list2=[10,40]
list.extend(list2)
print(list)

[60, 30, 25, 10, 5, 4, 0, 50, 10, 40]

In [ ]:
dict={"Name":"Suraj","Age":20,"course":"Data Science"}
print(dict)
print(dict.keys())
print(dict.values())

{'Name': 'Suraj', 'Age': 20, 'course': 'Data Science'}
dict_keys(['Name', 'Age', 'course'])
dict_values(['Suraj', 20, 'Data Science'])

In [ ]:
dict["course"]="Java"
print(dict)

{'Name': 'Suraj', 'Age': 20, 'course': 'Java'}

In [ ]:
dict["Add"]="Japuir"
print(dict)

{'Name': 'Suraj', 'Age': 20, 'course': 'Java', 'Add': 'Japuir'}

In [ ]:
n=int(input("Enter a number :"))
fact=1

for i in range(1,n+1):
  fact=fact*i
print(f"Factorial of a {n} is : ",fact)

Enter a number :5
Factorial of a 5 is :  120

In [ ]:
n=5
p=68
for i in range(n):
  for j in range(i+1):
    if j==0 or i==n-1 or i==j:
      print(chr(p),end=" ")
    else:
      print(" ",end=" ")
  p+=1
  print()

D
E E
F   F
G     G
H H H H H

In [ ]:
n=5
for i in range(n):
  for j in range(i+1):
    print(i+1,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n=5
k=69
for i in range(n):
  p=k
  for j in range(i+1):
    print(chr(p),end=" ")
    p+=1
  k-=1
  print(" ")

E
D E
C D E
B C D E
A B C D E

In [ ]:
n=int(input("Enter the number : "))
a,b=0,1
for i in range(1,n+1):
  print(a,end=" ")
  a,b=b,a+b

Enter the number : 5
0 1 1 2 3

In [ ]:
s="suraj"
list=[]
for char in s:
  list.append(char)
print(list)

['s', 'u', 'r', 'a', 'j']

In [ ]:
n=input("Enter a string ")
count=0
a=n.split()
for i in a:
  count+=1
print(count)

Enter a string sura kumar
2

In [ ]:
str="suraj singh chandravanshi"
longest_word=''
length=0
a=str.split()
for word in a:
  if len(word)>length:
    longest_word=word
    length=len(word)
print(longest_word)
print(length)

chandravanshi
13

In [ ]:
n=int(input("Enter the number :"))
m=n
sum=0
while m!=0:
  rem=m%10
  sum=sum+rem**3
  m=m//10
if sum==n:
  print("Armstrong number")
else:
  print(" Not armstrong number")

Enter the number :153
Armstrong number

In [ ]:
n=int(input("Enter the number to print table :"))

for i in range(1,11):
  print(f"{n} x {i} :",i*n)

Enter the number to print table :2
2 x 1 : 2
2 x 2 : 4
2 x 3 : 6
2 x 4 : 8
2 x 5 : 10
2 x 6 : 12
2 x 7 : 14
2 x 8 : 16
2 x 9 : 18
2 x 10 : 20

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    print("*",end=" ")
  print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(n):
    if i==n-1  or i+j==n-1 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

        *
      * *
    *   *
  *     *
* * * * *

In [ ]:
n=5
for i in range(n):
  for j in range(i,n):
    print(" ",end=" ")
  for j in range(i+1):
    if i==n-1 or j==n-1:
      print("*",end=" ")
    else:
      print(" ",end=" ")
  print()

  * * * * *