<a href="https://colab.research.google.com/github/shivam2898-data/Python_notes/blob/main/pattern.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=1
for i in range(1,11,2):
  print(" "*(5-n),"*"*i)
  n=n+1

     *
    ***
   *****
  *******
 *********

In [ ]:
n=4
for i in range(4,0,-1):
  print("*"*i," "*(n-i))

****
***
**
*

In [ ]:
n=4
for i in range(1,n+1):
  print(" "*(n-i),"*"*i)

    *
   **
  ***
 ****

In [ ]:
n=4
for i in range(4,0,-1):
  print(" "*(n-i),"*"*i)

 ****
  ***
   **
    *

In [ ]:
n=4
for i in range(1,n+1):
  print("*"*i)

*
**
***
****

In [ ]:
n=4
for i in range(1,9,+2):
  print(" "*(n),"*"*(i))
  n=n-1

     *
    ***
   *****
  *******

In [ ]:
n=5
for i in range(1,6):
  if(i==1 or i==n):
    print("*"*i)
  else:
    print("*"+" "*(i-2)+"*")

*
**
* *
*  *
*****

In [ ]:
n=4
for i in range(1,5):
  print("*"*i)
for k in range(1,5):
  print(" "*(n-k),"*"*(k))
for j in range(4,0,-1):
  print("*"*j)
for m in range(4,0,-1):
  print(" "*(n-m),"*"*(m))
for k in range(1,5):
  print(" "*(n-k),"*"*(k))
for j in range(4,0,-1):
  print("*"*j)

*
**
***
****
    *
   **
  ***
 ****
****
***
**
*
 ****
  ***
   **
    *
    *
   **
  ***
 ****
****
***
**
*

In [ ]:
n=4
for i in range(1,11,+2):
  print(" "*(n),"*"*(i))
  n-=1

     *
    ***
   *****
  *******
 *********

In [ ]:
n=5
for i in range(5,0,-1):
  for j in range(1,i+1):
    print(j,end="")
  print(" ")

12345
1234
123
12
1

In [ ]:
n=4
for i in range(1,n+1):
  for j in range(1,n+1):
    print(j*2,end=" ")
  print(" ")

2 4 6 8
2 4 6 8
2 4 6 8
2 4 6 8

In [ ]:
n=5
for i in range(1,6):
  for j in range(i,i*2):
    print(i,end=" ")
  print(" ")

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
for i in range(1,7):
  for j in range(1,i*2):
    if(j%2==0):
     print(j ,end=" ")
  print(" ")

2
2 4
2 4 6
2 4 6 8
2 4 6 8 10

In [ ]:
n=4
for i in range(1,n+1):
  for j in range(1,n+1):
    print(j*i,end=" ")
  print(" ")

1 2 3 4
2 4 6 8
3 6 9 12
4 8 12 16

In [ ]:
n=4
a=1
for i in range(1,n+1):
  for j in range(1,n+1):
    print(a,end=" ")
    a+=1
  print(" ")

1 2 3 4
5 6 7 8
9 10 11 12
13 14 15 16

In [ ]:
n=4
for i in range(4,0,-1):
  for j in range(1,i+1):
    print(j,end="")
  print(" ")

1234
123
12
1

In [ ]:
n=5
for i in range(1,n+1):
  for j in range(1,i):
    print(j,end=" ")
  print(" ")

1
1 2
1 2 3
1 2 3 4

In [ ]:
n=5
for i in range(1,n):
  print(" "*(n-i),end=" ")
  for j in range(1,i+1):
    print(j ,end=" ")
  print(" ")

     1
    1 2
   1 2 3
  1 2 3 4

In [ ]:
n=5
for i in range(n,0,-1):
  print(" "*(n-i),end="")
  for j in range(1,i):
    print(j,end=" ")
  print(" ")

1 2 3 4
 1 2 3
  1 2
   1

In [ ]:
for i in range(1,5):
  print(" "*(5-i),end=" ")
  for m in range(1,i+1):
    print(m,end="")
  print(" ")

     1
    12
   123
  1234

In [ ]:
for i in range(4,0,-1):
  print(" "*(4-i),end="")
  for j in range(1,i+1):
    print(j,end="")
  print("")

1234
 123
  12
   1

In [ ]:
n=4
for i in range(4,0,-1):
  print(" "*(n-i),end="")
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")

* * * *
 * * *
  * *
   *

In [ ]:
n=4
for i in range(1,n+1):
  print(" "*(n-i),end="")
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")

   *
  * *
 * * *
* * * *

In [ ]:
n=4
for i in range(1,n+1):
  print(" "*(n-i),end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print(" ")
for i in range(4,0,-1):
  print(" "*(n-i),end=" ")
  for j in range(1,i+1):
    print("*",end=" ")
  print("")

    *
   * *
  * * *
 * * * *
 * * * *
  * * *
   * *
    *

In [ ]:
n=7
for i in range(1,n+1):
  if(i==1 ):
    print(" "+"*"*3,end="")
  elif( i==4):
    print("*"*5,end="")
  else:
    print("*"+" "*3+"*",end="")
  print("")

 ***
*   *
*   *
*****
*   *
*   *
*   *

In [ ]:
n=7
for i in range(1,n+1):
  if(i==1):
    print("*"*5)
  elif(i==7):
      print("*"*5,end="")
  else:
    print("*"+" "*4+"*""\n",end="")

*****
*    *
*    *
*    *
*    *
*    *
*****

In [ ]:
n=7
for i in range(1,n+1):
  if(i==1 or i==7):
    print("*"*6,end="")
  elif(i==4):
    print("*"*4,end="")
  else:
    print("*",end="")
  print("")

******
*
*
****
*
*
******

In [ ]:
n=7
for i in range(1,n):
  print("*")
  if(i==6):
    print(("*")*6,end="")

*
*
*
*
*
*
******

In [ ]:
n=7
for i in range(1,n+1):
  if(i==3):
    print("* "*2+"  "+"*  "*2,end="")
  elif(i==4):
    print("*   "+"*    "+"*",end="")
  else:
    print("*"+"  "*4+"*",end="")
  print("")

*        *
*        *
* *   *  *
*   *    *
*        *
*        *
*        *

In [ ]:
n=7
for i in range(1,n+1):
  if(i==1 or i==7):
    print(" "+"*"*3)
  else:
    print("*"+(" ")*3+"*")

 ***
*   *
*   *
*   *
*   *
*   *
 ***

In [ ]:
n=7
for i in range(1,n+1):
  if(i==1 or i==4):
    print("*"*4,end="")
  elif(i==2 or i==3):
    print("*"+" "*3+"*",end="")
  else:
    print("*",end="")
  print("")

****
*   *
*   *
****
*
*
*

In [ ]:
n=7
for i in range(1,n+1):
  if(i==7):
    print(" "+"*"*3,end="")
  else:
    print("*"+" "*3+"*")

*   *
*   *
*   *
*   *
*   *
*   *
 ***

In [2]:
n=3
for i in range(1,n+1):
  if(i==1 or i==n):
     print("*"*(n))
  else:
     print("*"+" "+"*")

***
* *
***

In [1]:
n=4

for i in range(1,8,2):
   print((" ")*(n),"*"*(i))
   n=n-1

     *
    ***
   *****
  *******