<a href="https://colab.research.google.com/github/shivam2898-data/Python_notes/blob/main/set.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#1 indentification-{item,item}

In [ ]:
#sats in python
a={"sam","raj","sam","mohit"}
print(a)
type(a)

{'raj', 'sam', 'mohit'}

set

In [ ]:
a={"sam","raj","sam","mohit"}
a.add('pallavi')
print(a)

{'pallavi', 'raj', 'sam', 'mohit'}

In [ ]:
a={"sam","raj","sam","mohit"}
a.remove('raj')
print(a)

{'sam', 'mohit'}

In [ ]:
#loop in set
a={"sam","raj","sam","mohit"}
for i in a:
  print(i)

raj
sam
mohit

In [ ]:
#function
#union()--common value will remove
a={1,2,3,4}
b={3,4,5,6}
a.union(b)
a|b

{1, 2, 3, 4, 5, 6}

In [ ]:
#intersection()--common value will print
a={1,2,3,4}
b={3,4,5,6}
a.intersection(b)
a&b

{3, 4}

In [ ]:
a={1,2,3,4}
b={3,4,5,6}#those element present in a not in b
a-b
b-a#those element present in b not in a

{5, 6}

In [ ]:
emp_name=["sam","raj","rohit","rohan"]
mang_name=["sam","ankit","ravi","rohit"]
em_2=set(emp_name)
print(em_2)
man_2=set(mang_name)
print(man_2)
em_2.intersection(man_2)

{'raj', 'rohan', 'rohit', 'sam'}
{'rohit', 'ankit', 'ravi', 'sam'}

{'rohit', 'sam'}

In [ ]:
#1. Write a Python program to create a set.
a={'ram','shaym','ravi'}
print(a)

{'ravi', 'ram', 'shaym'}

In [ ]:
#2. Write a Python program to add member(s) to a set.
a={'ram','shaym','ravi'}
a.add('tushar')
print(a)

{'tushar', 'ravi', 'ram', 'shaym'}

In [ ]:
#3. Write a Python program to remove item(s) from a given set.
a={'ram','shaym','ravi'}
a.remove('ravi')
print(a)

{'ram', 'shaym'}

In [ ]:
#4. Write a Python program to create an intersection of sets.
a={'ram','shaym','ravi'}
b={'ravi','udit','ram'}
a.intersection(b)

{'ram', 'ravi'}

In [ ]:
#5. Write a Python program to create a union of sets.
a={'ram','shaym','ravi'}
b={'ravi','udit','ram'}
a.union(b)

{'ram', 'ravi', 'shaym', 'udit'}

In [ ]:
# 6 Write a Python program to remove all elements from a given set.
a={'ram','shaym','ravi'}
a.clear()
print(a)

set()

In [ ]:
#7 Write a Python program to find the maximum and minimum values in a set.
a={1,2,3,4,5}
print(max(a))
print(min(a))

5
1

In [ ]:
#8 Write a Python program to find the length of a set.
a={1,4,3,6,4,8,2,9}
len(a)

7

In [ ]:
#9 remove common element from sets.
team_a=['rohit','virat','dhoni','rahul','jadeja']
team_b=['rohit','ashwin','kuldeep','sky','rahul']
a=set(team_a)
print(a)
b=set(team_b)
print(b)
a.intersection(b)

{'jadeja', 'virat', 'rohit', 'rahul', 'dhoni'}
{'sky', 'kuldeep', 'rohit', 'rahul', 'ashwin'}

{'rahul', 'rohit'}

In [ ]:
#10 loop in set
a={1,2,3,4,6}
for i in a:
  print(i)

1
2
3
4
6