<a href="https://colab.research.google.com/github/shivam2898-data/regex-10feb/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=("sam","raj",25,67.56)
type(a)

tuple

In [ ]:
#indexing forwading
a=("sam","raj",25,67.56)
print(a[0])
print(a[1][1])

sam
a

In [ ]:
#loop in tuple
a=("sam","raj",25,67.56)
for i in a:
  print(i)

sam
raj
25
67.56

In [ ]:
a=("sam","raj",25,67.56)
for i in range(len(a)):
  print(a[i])

sam
raj
25
67.56

In [ ]:
#properties in tuple
#1 cocatenation
a=("sam","raj",25,67.56)
b=("rahul","shivam")
c=a+b
print(c)

('sam', 'raj', 25, 67.56, 'rahul', 'shivam')

In [ ]:
#2replication
a=(1,2,3)
a*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
#immutable data type
a=("sam","raj",25,67.56)
a[1]="simran"

TypeError: 'tuple' object does not support item assignment

In [ ]:
#updating tuple element through changing into list
a=("sam","raj",25,67.56)
b=list(a)#convert into list
print(b)
b[1]="sumit"
c=tuple(b)#conert into tuple again
print(c)

['sam', 'raj', 25, 67.56]
('sam', 'sumit', 25, 67.56)

In [ ]:
#function in tuple
#1count()
a=(1,2,3,1,2,4)
a.count(1)

2

In [ ]:
#2 sum()
a=(1,2,3)
sum(a)

6

In [ ]:
#Q1 how can we create a user difined tuple?
a=[]
size=int(input("enter your size: "))
for i in range (size):
  item=input("enter your item: ")
  a.append(item)
print(a)
b=tuple(a)
print(b)

enter your size: 3
enter your item: sam
enter your item: raj
enter your item: rahul
['sam', 'raj', 'rahul']
('sam', 'raj', 'rahul')

In [ ]:
#Q2 create a user difind program of tuple who can add elements in tuple?
a=[]
size=int(input("enter your size: "))
for i in range (size):
  item=input("enter your item: ")
  a.append(item)
print(a)
b=tuple(a)
print(b)
c=list(b)
d=input("enter your item for addition: ")
c.append(d)
print(c)
d=tuple(c)
print(d)

enter your size: 2
enter your item: sam
enter your item: raj
['sam', 'raj']
('sam', 'raj')
enter your item for addition: rohit
['sam', 'raj', 'rohit']
('sam', 'raj', 'rohit')

In [ ]:
#Q3 create a user difind program of tuple who can add elements multiple times in tuple?
a=[]
size=int(input("enter your size: "))
for i in range (size):
  item=input("enter your item: ")
  a.append(item)
print(a)
b=tuple(a)
print(b)
c=list(b)
d=int(input("enter your item for addition: "))
for i in range(d):
  e=input("enter item: ")
  c.append(e)
print(c)
f=tuple(c)
print(f)

enter your size: 2
enter your item: sam
enter your item: rohit
['sam', 'rohit']
('sam', 'rohit')
enter your item for addition: 3
enter item: ravi
enter item: shivam
enter item: kirti
['sam', 'rohit', 'ravi', 'shivam', 'kirti']
('sam', 'rohit', 'ravi', 'shivam', 'kirti')

In [ ]:
#Q4 create a user difind program of tuple who can add elements multiple times and check occurence of item in tuple?
a=[]
size=int(input("enter your size: "))
for i in range (size):
  item=input("enter your item: ")
  a.append(item)
print(a)
b=tuple(a)
print(b)
c=list(b)
d=int(input("enter your item for addition: "))
for i in range(d):
  e=input("enter item: ")
  c.append(e)
print(c)
f=tuple(c)
print(f)
g=input("tell me element that you want to check occurence: ")
print(f"the element {g} is repeated={f.count(g)}")

enter your size: 2
enter your item: sam
enter your item: raj
['sam', 'raj']
('sam', 'raj')
enter your item for addition: 2
enter item: sam
enter item: sam
['sam', 'raj', 'sam', 'sam']
('sam', 'raj', 'sam', 'sam')
tell me element that you want to check occurence: sam
the element sam is repeated=3

In [ ]:
#Q5 create a user defind program of tuple who can delete item which you want in tuple?
a=[]
size=int(input("enter your size: "))
for i in range(size):
  item=input("enter your item: ")
  a.append(item)
print(a)
# b=tuple(a)
# print(b)
# c=list(b)
d=input("enter your item which you want to delete: ")
a.remove(d)
print(a)
d=tuple(a)
print(d)

enter your size: 3
enter your item: sam
enter your item: raj
enter your item: rohit
['sam', 'raj', 'rohit']
enter your item which you want to delete: raj
['sam', 'rohit']
('sam', 'rohit')

In [ ]:
#Q6 create a user difind program of tuple who can reverse elements in tuple?
a=[]
size=int(input("enter your size: "))
for i in range (size):
  item=input("enter your item: ")
  a.append(item)
print(a)
b=tuple(a)
c=list(b)
c.reverse()
print(c)
d=tuple(c)
print(d)

enter your size: 3
enter your item: sam
enter your item: raj
enter your item: rohit
['sam', 'raj', 'rohit']
['rohit', 'raj', 'sam']
('rohit', 'raj', 'sam')

In [ ]:
a=('a','b','c','d','e')
print('c'in a)

True

In [ ]:
a=["sam","raj","rahul"]
b=",".join(a)
print(b)
print(b.upper())
print(b.split(","))

sam,raj,rahul
SAM,RAJ,RAHUL
['sam', 'raj', 'rahul']