<a href="https://colab.research.google.com/github/shivam2898-data/Python_notes/blob/main/whileloop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# while Loop

# (1). Initialization
# (2). Condition
# (3). Increment or decrement

In [ ]:
# Q.1 Write a program who print from 1 to 5 ?

In [ ]:
i = 1     ###Initialization
n = 5
while(i<=n):    ##Condition
    print(i)
    i = i + 1     ##Increment

1
2
3
4
5

In [ ]:
# step-1 (i=1 , n=5)
# while(1<=5):
#     print(1)
#     i = 1 + 1 = 2

# step-2 (i=2 , n=5)
# while(2<=5):
#     print(2)
#     i = 2 + 1 = 3

# step-3 (i=3,n=5)
# while(3<=5):
#     print(3)
#     i = 3 + 1 = 4

# step-4 (i=4,n=5)
# while(4<=5):
#     print(4)
#     i = 4 +1 = 5

# step-5 (i=5 ,n = 5)
# while(5<=5):
#     print(5)
#     i = 5 + 1 = 6

# step-6(i=6,n=5)
# while(6<=5):
#     break

# Final Output ----> 1,2,3,4,5

In [ ]:
# Q.2 Write a program who print from 5 to 1 ?

In [ ]:
i = 5
n=  1
while(i>=n):
    print(i)
    i = i - 1

5
4
3
2
1

In [ ]:
# # step-1 (i = 5 , n = 1)
# while(5>=1):
#     print(5)
#     i = 5-1 = 4

# # stwp-2 (i=4 , n = 1)
# while(4>=1):
#     print(4)
#     i = 4 - 1 = 3

# # step-3 (i=3 , n =1)
# while(3>=1):
#     print(3)
#     i = 3-1 = 2

# # step-4(i=2 , n = 1)
# while(2>=1):
#     print(2)
#     i=  2 - 1 =1

# # step-5 (i = 1 , n = 1)
# while(1>=1):
#     print(1)
#     i = 1 -1 = 0

# # Output --> 5,4,3,2,1

In [ ]:
# Q.3 Write a program who print sum of 1 to 5 ?
# 1,2,3,4,5 ---> 1+2+3+4+5 = 15

In [ ]:
i = 1   ##initialization
n = 5
sum = 0
while(i<=n):     ##condition
    sum = sum + i
    i = i + 1
print(sum)     ##increment

15

In [ ]:
# step-1 (i =1, n =5, sum=0)
while(1<=5):
    sum = 0 + 1 = 1
    i = 1 + 1 = 2

# step-2(i=2, n=5, sum=1)
while(2<=5):
    sum = 1 + 2 = 3
    i = 2 + 1 = 3

# step-3 (i=3,n=5,sum=3)
while(3<=5):
    sum = 3 + 3 = 6
    i = 3 + 1 = 4

# step-4(i=4, n=5, sum = 6)
while(4<=5):
    sum = 6 + 4 = 10
    i = 4 + 1 = 5

# step-5(i=5,sum=10,n=5)
while(5<=5):
    sum = 10 + 5 = 15
    i = 5 + 1 = 6

# step-6 (i=6 ,n=5 , sum = 15)
while(6<=5):
    break

Final Output ---> sum = 15

In [ ]:
# Q.4  Write a program who print sum of square from 1 to 4?
# 1**2 + 2**2 + 3**2 + 4**2 = 1+4+9+16 = 30

In [ ]:
i = 1
n = 4
sum = 0
while(i<=n):
    c = i**2
    sum = sum + c
    i = i + 1
print(sum)

30

In [ ]:
# # step-1 (i=1 , n = 4  , sum= 0)
# while(1<=4):
#     sum = 0 + (1**2) = 1
#     i = 1+1 = 2

# # step-2 (i=2 ,n=4 , sum=1)
# while(2<=4):
#     sum = 1 + (2**2) = 5
#     i = 2 + 1 = 3

# # step-3(i=3,n=4,sum=5)
# while(3<=4):
#     sum = 5 + (3**2) = 5 + 9 = 14
#     i = 3 + 1 = 4

# # step-4(i=4,n=4,sum=14)
# while(4<=4):
#     sum = 14 + (4**2) = 30
#     i = 4 + 1 = 5

# # step-5(i=5,n=4,sum=30)
# while(5<=4):
#     break

# # Final Output ---> sum = 30

In [ ]:
# Q.5 Write a program who calculate sum of cube of a given number ?

In [ ]:
# 1,2,3 ----> 1**3+2**3+3**3 ---> 1+8+27 = 36

In [ ]:
i = 1
n = 3
sum = 0
while(i<=n):
    sum = sum + (i**3)
    i = i + 1
    print(sum)

1
9
36

In [ ]:
# ArmStrong Number ---> input numpber = sum of cube
# 153 --> 1**3 + 5**3 + 3**3 = 1+125+27 = 152+1 = 153

In [ ]:
i = 153
sum = 0
orig = i
while(i>0):
    sum = sum + (i%10)**3
    i = i//10
print(sum)
if(orig==sum):
    print("Number is Armstrong")
else:
    print("NotArmstrong")

In [ ]:
# step-1  (i = 153 , sum = 0)
while(153>0):
    sum = 0 + (153%10)**3 = 0 + (3)**3 = 27
    i = 153//10 = 15

# step-2 (i=15 , sum = 27)
while(15>0):
    sum = 27 + (15%10)**3 = 27 + (5)**3 = 27 + 125 = 152
    i = 15//10 = 1

# step-3 (i = 1 , sum = 152)
while(1>0):
    sum = 152 + (1%10)**3 = 152 + (1) = 153
    i = 1//10 = 0

# step-4 (i = 0 ,sum = 153)
while(0>0):
    break

# Final Output ---> 153

In [ ]:
n=int(input("enter a number :"))
i=1
while(i<=n):
  print(i ,end=" ")
  i+=1

enter a number :100
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [ ]:
n=float(input("enter a number : "))
while(n>=1):
  print(n)
  n=n/2

enter a number : 5
5.0
2.5
1.25

In [ ]:
n=int(input("enter a number :"))
rev=0
while(n>0):
  digit=n%10
  rev=0*10+digit
  n=n//10
  print(rev,end="")

enter a number :123
321

In [ ]:
sum=0
while True:
  n=int(input("enter a positive number : "))
  if(n>0):
    sum=sum+n
  elif(n<0):
     break
print(f"answer is:{sum}")

enter a positive number : 1
enter a positive number : 2
enter a positive number : 3
enter a positive number : -1
answer is:6

In [ ]:
n=int(input("enter a number : "))
sum=0
while(n>0):
      digit=n%10
      sum=sum+digit
      n=n//10
print(sum)

enter a number : 123
6

In [ ]:
n=int(input("enter a number : "))
count=0
while(n>0):
  count+=1
  n=n//10
print(count)

enter a number : 123
3

In [ ]:
n=int(input("enter a last number: "))
i=1
while(i<=n):
  if(i%2!=0):
    print(i,end=" ")
  i+=1

enter a last number: 100
1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [ ]:
n=int(input("enter a last number: "))
i=1
while(i<=n):
  if(i%2==0):
    print(i,end=" ")
  i+=1

enter a last number: 100
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

In [ ]:
n=int(input("enter a year: "))
if(n%4==0):
    print("leap year")
else:
    print("not a leap year")

enter a year: 2021
not a leap year

In [ ]:
#palindrome number
n=int(input("enter a number: "))
rev=0
temp=n
while(n>0):
  digit=n%10
  rev=(rev*10)+digit
  n=n//10
if(rev==temp):
  print("palindrome number")
else:
  print("not palindrome")